
.dialog-content {
    padding: 16px;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: grey;
  }
  
  .dialog-title {
    font-size: 6em; 
    font-weight: bold; 
    text-align: center;
    padding: 16px 24px; 
  }
  