.App {
  text-align: center;
}

.App-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
}



.App-header {
  background-color: #ffe6e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}
p{
  color: rgb(206, 72, 137);
  font-weight: bold;
  font-size: 3.5em;


}
.App-link {
  color: #61dafb;
}


